<!doctype html>
<html lang="en">
  <head>
    <style>
      ::placeholder {
        color: black;
        opacity: 1;

      }
      body{
        background-color: #3366CC; /* Цвет фона веб-страницы */
       }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% load static %}
      <link rel = "icon" href = "{% static 'images/flower-svgrepo-com.svg' %}" type = "image/x-icon">
          {% load static %}
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" >
                {% load static %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}" >
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
     <nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link {% block href1 %}{% endblock href1 %}" href="{% url 'index_page' %}">Категории</a>
  <a class="flex-sm-fill text-sm-center nav-link {% block href2 %}{% endblock href2 %}" href="{% url 'subcat_all' %}">Подкатегории</a>
  <a class="flex-sm-fill text-sm-center nav-link {% block href3 %}{% endblock href3 %}" href="{% url 'masters' %}">Мастера</a>
  <a class="flex-sm-fill text-sm-center nav-link {% block href4 %}{% endblock href4 %}" href="{% url 'images' %}">Примеры работ</a>
</nav>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
  </body>
</html>