{% extends 'base.html' %}
{% block title %} Категории{% endblock %}
{% block href4 %} active {% endblock href4 %}

{% block content %}
  <div class="table-responsive" style="padding: 1em;">
        <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Работы</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td >Larry the Bird</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td >Larry the Bird</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td >Larry the Bird</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}