<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Loggin</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/loggin.css' %}" >
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post">{% csrf_token %}
                {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                  <p><h4 class="alert-heading" style="color:red;">Ошибка!</h4><p>
                  <p style="color:Orange;"> {{message}}</p>
                  <hr>
                </div>

            {% endfor %}
        {% endif %}
        <h3>Войти в аккаунт</h3>

        <label for="username">Имя пользователя</label>
        <input type="text" placeholder="Имя" id="username" name="username">

        <label for="password">Пароль</label>
        <input type="password" placeholder="Пароль" id="password" name="password">

        <button type="submit">Войти</button>
    </form>
</body>
</html>