<!DOCTYPE html>
<html lang="en">
<head>
	<title>Master page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
<!--===============================================================================================-->
	{% load static %}
	<link rel="icon" type="image/png" href="{% static 'images/flower-svgrepo-com.svg'%}"/>
<!--===============================================================================================-->
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}">

<!--===============================================================================================-->
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">

<!--===============================================================================================-->
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">

<!--===============================================================================================-->
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css'%}">
<!--===============================================================================================-->	
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css'%}">

<!--===============================================================================================-->
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css'%}">
<!--===============================================================================================-->
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->	
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css'%}">
<!--===============================================================================================-->
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css'%}">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		{% load static %}
		<div class="container-login100" style="background-image: url('{% static 'images/bg-01.jpg'%}');">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
				<form class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-53">
						Карточка мастера
					</span>
					{% for x in masters %}
					<div class="p-t-31 p-b-9">
							<span class="txt1">
								{% if x.name %}
									Имя: &nbsp; &nbsp;{{x.name}}
								{% else %}
									Имя: &mdash;
								{% endif %}
							</span>
						</div>
						<div class="wrap-input100 validate-input" data-validate = "Username is required">

							<span class="focus-input100"></span>
						</div>

						<div class="p-t-13 p-b-9">
							<span class="txt1">
								{% if x.phone %}
									Телефон:&nbsp; &nbsp; {{x.phone}}
								{% else %}
									Телефон: &mdash;
								{% endif %}
							</span>
						</div>
						<div class="wrap-input100 validate-input" data-validate = "Password is required">

							<span class="focus-input100"></span>
						</div>

						<div class="p-t-13 p-b-9">
							<span class="txt1">
								{% if x.address %}
									Адрес:&nbsp; &nbsp; {{x.address}}
								{% else %}
									Адрес: &mdash;
								{% endif %}
							</span>
						</div>
						<div class="wrap-input100 validate-input" data-validate = "Password is required">

							<span class="focus-input100"></span>
						</div>

						<div class="p-t-13 p-b-9">
							<span class="txt1">
								{% if x.info %}
									Дополнительная информация:&nbsp; &nbsp; {{x.info}}
								{% else %}
									Дополнительная информация: &mdash;
								{% endif %}
							</span>
						</div>
						<div class="wrap-input100 validate-input" data-validate = "Password is required">

							<span class="focus-input100"></span>
						</div>

						<div class="p-t-13 p-b-9">
							<span class="txt1">
								{% if x.tg %}
									Telegram:&nbsp; &nbsp; {{x.tg}}
								{% else %}
									Telegram: &mdash;
								{% endif %}
							</span>
						</div>
						<div class="wrap-input100 validate-input" data-validate = "Password is required">

							<span class="focus-input100"></span>
						</div>
						<div class="p-t-13 p-b-9">
							<span class="txt1">
								{% if x.wa%}
									WhatsApp: &nbsp; &nbsp;{{x.wa}}
								{% else %}
									WhatsApp: &mdash;
								{% endif %}
							</span>
						</div>
						<div class="wrap-input100 validate-input" data-validate = "Password is required">

							<span class="focus-input100"></span>
						</div>

						<div class="p-t-13 p-b-9">
							<span class="txt1">
								{% if x.ig%}
									Instagram: &nbsp;{{x.ig}}
								{% else %}
									Instagram: &mdash;
								{% endif %}
							</span>
						</div>
						<div class="wrap-input100 validate-input" data-validate = "Password is required">

							<span class="focus-input100"></span>
						</div>

						<div class="p-t-13 p-b-9">
							<span class="txt1">
								{% if x.vk %}
									VK: &nbsp; &nbsp;{{x.vk}}
								{% else %}
									VK: &mdash;
								{% endif %}
							</span>
						</div>
						<div class="wrap-input100 validate-input" data-validate = "Password is required">

							<span class="focus-input100"></span>
						</div>
						<div class="container-login100-form-btn m-t-17">

								<button class="login100-form-btn" style="font-family: Montserrat-Medium;">
								<a href="settings/{{x.master_id}}" style="font-size: 18px; font-family: Montserrat-Medium; color: white;" >	Изменить информацию</a>
								</button>
						</div>

						<div class="container-login100-form-btn m-t-17">

								<button class="login100-form-btn" style="font-family: Montserrat-Medium;">
									<a href="gallery/{{ x.master_id}}" style="font-size: 20px; font-family: Montserrat-Medium; color: white;">Мои примеры работ</a>
								</button>
						</div>
					{% endfor %}
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	{% load static %}
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	{% load static %}
	<script src="{% static 'vendor/animsition/js/animsition.min.js'%}"></script>
<!--===============================================================================================-->
	{% load static %}
	<script src="{% static 'vendor/bootstrap/js/popper.js'%}"></script>
	{% load static %}
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	{% load static %}
	<script src="{% static 'vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	{% load static %}
	<script src="{% static 'vendor/daterangepicker/moment.min.js'%}"></script>
	{% load static %}
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js'%}"></script>
<!--===============================================================================================-->
	{% load static %}
	<script src="{% static 'vendor/countdowntime/countdowntime.js'%}"></script>
<!--===============================================================================================-->
	{% load static %}
	<script src="{% static 'js/main.js'%}"></script>

</body>
</html>